.indexCont {
margin-left: 2%;
margin-right: 2%;
	.headCont {
		display: flex;
		flex-wrap: wrap;
	}
	.pageLinks {
		display: flex;
		width: 583px;
		justify-content: center;

		a {
			padding-left: 15px;
			padding-top: 10px;
			font-size: 1.3rem;
		}
	}
}
