.loginForm {
	margin-top: 2%;
	
	.usernameCont {
		display: flex;
		flex-wrap:  wrap;
		margin-bottom: 15px;

		.username {
			width: 80px;
		}

		#username {
			width: 300px;
			border-radius: 7px;
		}
	}

	.passwordCont {
		display: flex;
		flex-wrap:  wrap;

		.password {
			width: 80px;
		}

		#password {
			width: 300px;
			border-radius: 7px;
		}

	}
}

.loginButton {
	width: 300px;
}

.hidden {
	display: none;
}

.loginMessage {
	margin-top: 15px;
	width: 380px;
	text-align: center;
	padding-top: 3px;
	padding-bottom: 3px;
	font-size: 17px;
	font-weight: bold;
	border: 4px solid #3B3E69; 
	border-radius: 7px;
}
